body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #222;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
button {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#ciroForm {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

#ciroForm label {
    color: #fff;
}

#ciroForm input[type="number"] {
    width: calc(50% - 10px);
    margin-right: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px;
}

#ciroForm input[type="text"] {
    width: calc(50% - 10px);
    margin-right: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px;
}

#ciroForm button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

#toplamCiro,
#ortalamaCiro,
#istenenOrtalama,
#gunlukFark,
#aylikFark {
    margin-top: 20px;
}

#toplamCiro span,
#ortalamaCiro span,
#istenenOrtalama span,
#gunlukFark span,
#aylikFark span {
    font-weight: bold;
}
